# --------------------------------------------------
# Блокировать всё по умолчанию
# --------------------------------------------------


# --------------------------------------------------
# Разрешить только нужное
# --------------------------------------------------

# Исходный код
!**/*.cs
!**/*.cshtml
!**/*.razor
!**/*.js
!**/*.ts
!**/*.vue
!**/*.html
!**/*.css
!**/*.scss
!**/*.json
!**/*.xml

# Конфигурации проекта
!**/*.sln
!**/*.csproj
!**/*.props
!**/*.targets

# Конфигурация инструментов
!.editorconfig
!**/.eslintrc.js
!**/.prettierrc
!**/.prettierrc.js
!**/.prettierrc.json
!**/.babelrc
!**/babel.config.js
!**/tsconfig.json
!**/vite.config.*
!**/vue.config.js

!**/appsettings*.json
!**/.env
!**/.env.*

# --------------------------------------------------
# Блокировать явно ненужные или чувствительные файлы
# --------------------------------------------------

# Папки сборки и временные файлы
**/[Bb]in/
**/[Oo]bj/
**/[Dd]ebug/
**/[Rr]elease/
**/.vs/
**/*.dll
**/*.pdb
**/*.cache
**/*.log
**/*.exe
**/*.deps.json
**/*.sourcelink.json
**/*.GeneratedMSBuildEditorConfig.editorconfig
**/*.AssemblyInfo.cs
**/*.Assemblyinfolnputs.cache
**/*.assets.cache
**/*.csproj.CoreCompilelnputs.cache
**/*.csproj.AssemblyReference.cache
**/*.csproj.nuget.*
**/*.nuget.dgspec.json
**/*.nuget.g.props
**/project.assets.json
**/project.nuget.cache

# Visual Studio
**/.vs/
**/*.suo
**/*.user
**/*.userosscache
**/*.rsuser

# Rider / JetBrains
**/.idea/

# node_modules
**/node_modules/

# Dotnet CLI
**/.dotnet/
**/.dotnet_tool/

# AppSettings и прочие конфиги с чувствительной инфой

**/*.secret.json

# NuGet
**/*.nupkg
**/*.snupkg
**/.nuget/
**/packages/
!**/packages/.gitkeep  # если нужно оставить пустую папку

# ASP.NET Scaffolding
**/ScaffoldingReadMe.txt
