@{
    ViewData["Title"] = "Панель администратора";
    var language = ViewBag.Language;

    var adminPanel = ViewBag.pageData.From("AdminPanel");
}

@section Head {
    
}

@section Body {
    <div class="app-wrapper-admin">
        <div class="main-content-admin">
            <div class="card p-4 shadow" style="border-radius: 1rem; min-width: 320px; max-width: 600px; width: 100%;">
                @await Html.PartialAsync("_AdminNav")
                <div class="admin-content-placeholder text-center">
                    @adminPanel;
                </div>
            </div>
        </div>
    </div>
}

